<wallconfig>
<config>
  <inputs>
    <input name="tcipg01" port="1" />
    <input name="tcipg02" port="2" />
    <input name="tcipg03" port="3" />
    <input name="tcipg04" port="4" />
    <input name="slides" port="14" />
    <input name="hdmi1" port="15" />
    <input name="hdmi2" port="16" />

  </inputs>

  <outputs>
    <output name="panel1" port="1" wallid="1" mac="c4:73:1e:c6:3e:b8" />
    <output name="panel2" port="2" wallid="2" mac="c4:73:1e:c6:3e:ae" />
    <output name="panel3" port="3" wallid="3" mac="c4:73:1e:c6:3e:b5" />
    <output name="panel4" port="4" wallid="4" mac="e4:7c:f9:b6:62:3b" />
    <output name="panel5" port="5" wallid="5" mac="e4:7c:f9:b6:0b:5f" />
    <output name="panel6" port="6" wallid="6" mac="e4:7c:f9:b5:eb:88" />
    <output name="panel7" port="7" wallid="7" mac="e4:7c:f9:b6:0a:29" />
    <output name="panel8" port="8" wallid="8" mac="e4:7c:f9:b5:eb:99" />
    <output name="panel9" port="9" wallid="9" mac="e4:7c:f9:b5:ea:5f" />
    <output name="slides1" port="11" />
    <output name="slides2" port="15" />
  </outputs>
</config>

<layouts>
  <layout name="logos">
    <videoswitch>
      <input name="hdmi1">
        <output>slides1</output>
        <output>slides2</output>
        <output>panel1</output>
        <output>panel2</output>
        <output>panel3</output>
        <output>panel4</output>
        <output>panel5</output>
        <output>panel6</output>
        <output>panel7</output>
        <output>panel8</output>
        <output>panel9</output>
      </input>
    </videoswitch>
  </layout>
  <layout name="anurag">
    <videoswitch>
      <input name="slides">
        <output>slides1</output>
        <output>slides2</output>
      </input>
      <input name="tcipg01">
        <output>panel4</output>
        <output>panel5</output>
        <output>panel7</output>
        <output>panel8</output>
      </input>
      <input name="tcipg02">
        <output>panel6</output>
      </input>
      <input name="tcipg03">
        <output>panel9</output>
      </input>
      <input name="hdmi1">
        <output>panel1</output>
        <output>panel3</output>
      </input>
      <input name="tcipg04">
        <output>panel2</output>
      </input>
    </videoswitch>
    <videowall>
      <wall>
        <size x="2" y="2" />
        <panel pos="1" name="panel4" />
        <panel pos="2" name="panel5" />
        <panel pos="3" name="panel7" />
        <panel pos="4" name="panel8" />
      </wall>
    </videowall>
  </layout>
  <layout name="thomas">
    <videoswitch>
      <input name="slides">
        <output>slides1</output>
        <output>slides2</output>
      </input>
      <input name="hdmi1">
        <output>panel3</output>
        <output>panel6</output>
        <output>panel7</output>
        <output>panel8</output>
        <output>panel9</output>
      </input>
      <input name="tcipg01">
        <output>panel1</output>
        <output>panel2</output>
        <output>panel4</output>
        <output>panel5</output>
      </input>
      <input name="tcipg04">
        <output>panel3</output>
        <output>panel6</output>
      </input>
    </videoswitch>
    <videowall>
      <wall>
        <size x="2" y="2" />
        <panel pos="1" name="panel1" />
        <panel pos="2" name="panel2" />
        <panel pos="3" name="panel4" />
        <panel pos="4" name="panel5" />
      </wall>
      <wall>
        <size x="1" y="2" />
        <panel pos="1" name="panel3" />
        <panel pos="2" name="panel6" />
      </wall>
    </videowall>
  </layout>
  <layout name="ahmed">
    <videoswitch>
      <input name="hdmi1">
        <output>panel9</output>
      </input>
      <input name="slides">
        <output>slides1</output>
        <output>slides2</output>
      </input>
      <input name="tcipg01">
        <output>panel1</output>
        <output>panel2</output>
      </input>
      <input name="tcipg02">
        <output>panel3</output>
        <output>panel6</output>
      </input>
      <input name="tcipg04">
        <output>panel7</output>
        <output>panel8</output>
        <output>panel4</output>
        <output>panel5</output>
      </input>
    </videoswitch>
    <videowall>
      <wall>
        <size x="2" y="1" />
        <panel pos="1" name="panel1" />
        <panel pos="2" name="panel2" />
      </wall>
      <wall>
        <size x="2" y="2" />
        <panel pos="1" name="panel4" />
        <panel pos="2" name="panel5" />
        <panel pos="3" name="panel7" />
        <panel pos="4" name="panel8" />
      </wall>
      <wall> 
        <size x="1" y="2" />
        <panel pos="1" name="panel3" />
        <panel pos="2" name="panel6" />
      </wall>
    </videowall>
  </layout>
  <layout name="peter">
    <videoswitch>
      <input name="hdmi2">
        <output>panel1</output>
        <output>panel2</output>
        <output>panel4</output>
        <output>panel5</output>
        <output>panel7</output>
        <output>panel8</output>
      </input>
      <input name="tcipg01">
        <output>panel3</output>
      </input>
      <input name="hdmi1">
        <output>panel6</output>
        <output>panel9</output>
      </input>
      <input name="slides">
        <output>slides1</output>
        <output>slides2</output>
      </input>
    </videoswitch>
    <videowall>
      <wall>
        <size x="2" y="3" />
        <panel pos="1" name="panel1" />
        <panel pos="2" name="panel2" />
        <panel pos="3" name="panel4" />
        <panel pos="4" name="panel5" />
        <panel pos="5" name="panel7" />
        <panel pos="6" name="panel8" />
      </wall>
    </videowall>
  </layout>
  <layout name="prosper">
    <videoswitch>
      <input name="tcipg03">
        <output>panel2</output>
      </input>
      <input name="tcipg04">
        <output>panel4</output>
        <output>panel5</output>
        <output>panel6</output>
        <output>panel7</output>
        <output>panel8</output>
        <output>panel9</output>
      </input>
    </videoswitch>
    <videowall>
      <wall>
        <size x="3" y="2" />
        <panel pos="1" name="panel4" />
        <panel pos="2" name="panel5" />
        <panel pos="3" name="panel6" />
        <panel pos="4" name="panel7" />
        <panel pos="5" name="panel8" />
        <panel pos="6" name="panel9" />
      </wall>
    </videowall>
  </layout>
</layouts>
</wallconfig>
